.quiz-header {
    font-family: 'Bungee Shade', cursive;
    color: black;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: #348F50;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56B4D3, #348F50);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    color: black;
    align-items: center;
    justify-content: center;
}

.btn-start, .btn-submit, .btn-score, .btn-restart{
    font-family: 'Vast Shadow', cursive;
    text-align:center;
}

.question, .time, .points {
    font-family: 'Vast Shadow', cursive;
}

label, p {
    font-family: 'Vast Shadow', cursive;
}

h2 {
    font-family: 'Bungee Shade', cursive;
}
